
.header-dropdown {
    position: relative;
    cursor: pointer;
    /*display: inline-block;*/

}

.categories-button {
    font-size:18px;
    background-color:rgb(167,61,128);
    color:white;
    border: none;
    /*padding: 3px 20px;*/
    border-radius:8px;
    margin-right:-15px;
    margin-left:20px;
    margin-top:9px;
    width:170px;
    height:36px;
    cursor:pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

.header-dropdown ul {
    background-color: rgb(41, 26, 41);
    border-radius:10px;
    /*color: white;*/
    display: none;
    text-align:center;
    color: black;
    width:172px;
    padding:0;
    margin:0;
    position:absolute;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
}


.categories-button:hover {
    background-color: white;
    color:rgb(167,61,128);
    border:1px solid rgb(167,61,128);
    font-size:18px;
    font-weight: bold;

}


.header-dropdown li {
    padding: 8px 10px;
    font-size:16px;
    list-style:none;
}

.header-dropdown a {
    color: white;
    text-decoration: none;
    display:block;
}

.header-dropdown li:hover {
    color:black;
    background: rgb(196, 156, 196);
    border-radius:5px;
    font-weight: bold;
    font-family:'Italic';
    font-size:17px;

}

.header-dropdown li:hover a {
    color: black;
}

.header-dropdown:hover ul {
    color:black;
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    cursor: pointer;
    top: 100%;
    left: 13%;

}